body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; 
  color: #ffffff; 
}

.App {
  text-align: center;
  padding-top: 20px; 

}

.upload-form {
  margin-top: 10px; 

  background-color: #1e1e1e; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

input[type="file"] {
  margin: 10px 0;
  background-color: #2a2a2a; 
  color: #fff;
  border: 1px solid #666;
  padding: 10px;
}

button {
  background-color: #6200ea; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #00e676;
}
